 * {
    margin: 0;
    padding: 0;
}

header nav{
    min-height:100px;
}

header ul{
    display:flex;
    

}
    


.imgContact {
    min-height: 300px;
    max-height: 400px;
    background-image: url(../img/contact.jpg);
    background-position: center;
    background-size: cover;
    margin-right: 1rem;
    margin-left: 1rem;


}

.acceuil span {
    font-weight: bold;
}

.coordonee {
    border: #D6BA51 1px solid;
    margin-bottom: 2rem;

}

.titreSection {
    font-size: 2rem;
    margin: 1rem;
    font-weight: bolder;
    color: #D6BA51;

}

form .row {
    margin-bottom: 2rem;
}

.formRadio>input {

    margin-left: 1rem;

}

.inputText input {
    box-shadow: 5px 10px 20px gainsboro inset;

}

#dropdownMenuButton1,
#dropdownMenuButton2 {
    width: 80%;
}

textarea {
    box-shadow: inset 0 0 10px 1px rgb(0 0 0 / 20%);
}

.souh {
    font-weight: bold;

}

.option {
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-submit {

    background-color: #d6ba51;
    font-size: 30px;
    width: 285px;
    display: block;

    background-position: center right;
    background-repeat: no-repeat;
    margin: 0 auto 20px auto;
    border: 1px solid #d6ba51;
}

footer {
    /* background-color: rgb(55, 55, 55); */
    min-height: 300px;
    background-image: url(../img/bg_footer.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    color:#D6BA51
}

footer li {
    list-style: none;
}


footer a {
    text-decoration: none;
    color: gray;
    text-align: center;

}

