@font-face {
    font-family: "lato";
    src: url(../font/Lato-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "lato", sans-serif;
}

.nomDuSite {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin-left: 1rem;
    color: black;
}


/* HEADER */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 8vh;
    background-color: #c8bab9;
   
}

header ul {
    display: flex;
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    color: black;
    padding: .5rem;
    margin-top: .5rem;
    margin-left: 2rem;
    margin-right: 2rem;/*  pour eviter que le bouton connection soit sous la barre de scrool */
    font-size: 1.5rem;
    transition: all .3s;
}

header a:hover {
    color: rgb(93, 78, 78);
}

nav input,
button {
    background-color: transparent;
    border: none;
    padding: 1rem;
}
/* section Main*/
main{
    background-color: #c8bab9;
}
.container{
    color: black;
}