.allServices{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

main {
    background-color: #c8bab9;
}

.card-title {
    font-size: 1.3rem!important;
    color: #e956209c;
}

