@font-face {
    font-family: "lato";
    src: url(../font/Lato-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "lato", sans-serif;
}

.nomDuSite{
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    margin-left: 1rem;
}


/* HEADER */

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 10vh; 
    background-color: #c8bab9;
}

header ul {
    display: flex;
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    margin-top: .5rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    transition: all .3s;
}

header a:hover {
    background-color: rgb(131, 107, 107);
    border-radius: 10%;
    color: white;
}

nav input,
button {
    background-color: transparent;
    border: none;
    padding: 1rem;
}

nav input:hover {
    background-color: rgb(93, 78, 78);
}

#imgHeader {
    height: 100vh;
    background-image: url(../img/image_du_site.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    background-color: #c8bab9;
    padding: 1rem;
    border-radius: 10%;
    font-size: 2rem;
    text-align: center;
}

.reserver{
    margin-top: 4rem;
    background-color: #ff914c;
    border-radius: 10%;
    font-size: 2rem;
}

/* le responsive  */
@media screen and (max-width:576px) {
    .burger li{
        display: flex; /* repesoterie */

    }

    .lg li{
        display: none;
    }
}
